This is the html page<br/> <br/>

Welcome to ProjectPiir
Use this page to provide some of your information into our databases <br/>

<form action="users/create" method="post">
	
	Name</br>
	<input type="text" name="user[name]"/> <br/>
	Year in school<br/>
	<input type="text" name="user[academic_standing]" /> <br/>
	Email<br/>
	<input type="text" name="user[email]" /><br/>

	<input type="submit" name="commit" value="Create user"/>

</form>